#set ($subTable = $subTables.get($subIndex))##Current table
#set ($subColumns = $subColumnsList.get($subIndex))##Current field array
#set ($subJoinColumn = $subJoinColumns.get($subIndex))##Current join Field
#set ($subSimpleClassName = $subSimpleClassNames.get($subIndex))
#set ($subJoinColumn = $subJoinColumns.get($subIndex))##Current join Field
#set ($SubJoinColumnName = $subJoinColumn.javaField.substring(0,1).toUpperCase() + ${subJoinColumn.javaField.substring(1)})##Capitalize the first letter
<template>
  <div class="app-container">
#if ($table.templateType == 11)
    <!-- Operation Toolbar -->
    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button type="primary" plain icon="el-icon-plus" size="mini" @click="openForm(undefined)"
                   v-hasPermi="['${permissionPrefix}:create']">Newly added</el-button>
      </el-col>
    </el-row>
#end
      ## List
      <el-table v-loading="loading" :data="list" :stripe="true" :show-overflow-tooltip="true">
          #foreach($column in $subColumns)
              #if ($column.listOperationResult)
                  #set ($dictType=$column.dictType)
                  #set ($javaField = $column.javaField)
                  #set ($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
                  #set ($comment=$column.columnComment)
                  #if ( $column.id == $subJoinColumn.id) ## Special：Ignore the master and sub-tables join Field，No need to fill in
                  #elseif ($column.javaType == "LocalDateTime")## Time type
                <el-table-column label="${comment}" align="center" prop="${javaField}" width="180">
                  <template v-slot="scope">
                    <span>{{ parseTime(scope.row.${javaField}) }}</span>
                  </template>
                </el-table-column>
                  #elseif($column.dictType && "" != $column.dictType)## Data dictionary
                <el-table-column label="${comment}" align="center" prop="${javaField}">
                  <template v-slot="scope">
                    <dict-tag :type="DICT_TYPE.$dictType.toUpperCase()" :value="scope.row.${column.javaField}" />
                  </template>
                </el-table-column>
              #else
                <el-table-column label="${comment}" align="center" prop="${javaField}" />
              #end
          #end
      #end
    <el-table-column label="Operation" align="center" class-name="small-padding fixed-width">
      <template v-slot="scope">
        <el-button size="mini" type="text" icon="el-icon-edit" @click="openForm(scope.row.${primaryColumn.javaField})"
                   v-hasPermi="['${permissionPrefix}:update']">Modify</el-button>
        <el-button size="mini" type="text" icon="el-icon-delete" @click="handleDelete(scope.row)"
                   v-hasPermi="['${permissionPrefix}:delete']">Delete</el-button>
      </template>
    </el-table-column>
  </el-table>
#if ($table.templateType == 11)
    <!-- Pagination component -->
    <pagination v-show="total > 0" :total="total" :page.sync="queryParams.pageNo" :limit.sync="queryParams.pageSize"
                @pagination="getList"/>
  <!-- Dialog box(Add / Modify) -->
  <${subSimpleClassName}Form ref="formRef" @success="getList" />
#end
  </div>
</template>

<script>
  import * as ${simpleClassName}Api from '@/api/${table.moduleName}/${table.businessName}';
  #if ($table.templateType == 11)
  import ${subSimpleClassName}Form from './${subSimpleClassName}Form.vue';
  #end
  export default {
    name: "${subSimpleClassName}List",
#if ($table.templateType == 11)
    components: {
       ${subSimpleClassName}Form
    },
#end
    props:[
      '${subJoinColumn.javaField}'
    ],// ${subJoinColumn.columnComment}（Related fields of the main table）
    data() {
      return {
        // Mask layer
        loading: true,
        // List data
        list: [],
#if ($table.templateType == 11)
        // Total number of pages in the list
        total: 0,
        // Query parameters
        queryParams: {
          pageNo: 1,
          pageSize: 10,
          ${subJoinColumn.javaField}: undefined
        }
#end
      };
    },
#if ($table.templateType != 11)
    created() {
      this.getList();
    },
#end
    watch:{/** Monitor changes in the associated fields of the main table，Load the corresponding sub-table data */
        ${subJoinColumn.javaField}:{
            handler(val) {
              this.queryParams.${subJoinColumn.javaField} = val;
              if (val){
                this.handleQuery();
              }
            },
            immediate: true
      }
    },
    methods: {
      /** Query list */
      async getList() {
        try {
          this.loading = true;
          #if ($table.templateType == 11)
            const res = await ${simpleClassName}Api.get${subSimpleClassName}Page(this.queryParams);
            this.list = res.data.list;
            this.total = res.data.total;
          #else
              #if ( $subTable.subJoinMany )
                const res = await ${simpleClassName}Api.get${subSimpleClassName}ListBy${SubJoinColumnName}(this.${subJoinColumn.javaField});
                this.list = res.data;
              #else
                const res = await  ${simpleClassName}Api.get${subSimpleClassName}By${SubJoinColumnName}(this.${subJoinColumn.javaField});
                const data = res.data;
                if (!data) {
                  return;
                }
                this.list.push(data);
              #end
          #end
        } finally {
          this.loading = false;
        }
      },
      /** Search button operation */
      handleQuery() {
        this.queryParams.pageNo = 1;
        this.getList();
      },
#if ($table.templateType == 11)
      /** Add/Modify operation */
      openForm(id) {
        if (!this.${subJoinColumn.javaField}) {
          this.#[[$modal]]#.msgError('Please select one${table.classComment}');
          return;
        }
        this.#[[$]]#refs["formRef"].open(id, this.${subJoinColumn.javaField});
      },
      /** Delete button operation */
      async handleDelete(row) {
        const ${primaryColumn.javaField} = row.${primaryColumn.javaField};
        await this.#[[$modal]]#.confirm('Are you sure to delete?${table.classComment}Number is"' + ${primaryColumn.javaField} + '"Data item?');
        try {
          await ${simpleClassName}Api.delete${subSimpleClassName}(${primaryColumn.javaField});
          await this.getList();
          this.#[[$modal]]#.msgSuccess("Deleted successfully");
        } catch {}
      },
#end
    }
  };
</script>
